Repository radik1999/appartment-rent-bot: changes, and which pre-commit hooks are due for each by the changed paths.
All: django-check, check-absent-migrations, check-unapplied-migrations

django-check:
  name: Check for common problems
  entry: sh -c 'python src/manage.py check'
  language: system
  pass_filenames: false

check-absent-migrations:
  name: Check for missing migrations
  entry: sh -c 'python src/manage.py makemigrations --check --dry-run'
  language: system
  pass_filenames: false

check-unapplied-migrations:
  name: Check for unapplied migrations
  entry: sh -c 'python src/manage.py migrate --check'
  language: system
  pass_filenames: false

correct readme
  README.md
  src/api/settings.py
Due: django-check, check-unapplied-migrations

change name of the project
  README.md
Due: none

remove drf functionality
  requirements.in
  requirements.txt
  src/api/settings.py
  src/api/urls.py
  src/home/urls.py
  src/home/views.py
Due: django-check, check-unapplied-migrations

correct readme
  README.md
Due: none

draft
  requirements.in
  requirements.txt
  src/api/urls.py
  src/appartment_bot/__init__.py
  src/appartment_bot/admin.py
  src/appartment_bot/apps.py
  src/appartment_bot/migrations/__init__.py
  src/appartment_bot/models.py
  src/appartment_bot/tests.py
  src/appartment_bot/urls.py
  src/appartment_bot/views.py
Due: django-check, check-absent-migrations, check-unapplied-migrations

integrate telegram bot
  .template-env
  docker-compose.local.yaml
  entrypoint.sh
  requirements.in
  src/api/settings.py
  src/api/urls.py
  src/appartment/__init__.py
  src/appartment/admin.py
  src/appartment/apps.py
  src/appartment/fixtures/appartments.json
  src/appartment/migrations/0001_initial.py
  src/appartment/migrations/__init__.py
  src/appartment/models.py
  src/appartment_bot/models.py
  src/appartment_bot/tests.py
  src/appartment_bot/urls.py
  src/appartment_bot/views.py
  src/telegram_bot/__init__.py
  src/telegram_bot/apps.py
  src/telegram_bot/constants.py
  src/telegram_bot/handlers.py
  src/telegram_bot/management/__init__.py
  src/telegram_bot/management/commands/__init__.py
  src/telegram_bot/management/commands/startbot.py
Due: django-check, check-absent-migrations, check-unapplied-migrations

corrections
  README.md
  src/tests/conftest.py
  src/tests/test_common.py
  src/tests/test_home.py
  src/tests/variants.py
Due: django-check, check-unapplied-migrations

Path conditions:
  django-check: any of: \.py$
  check-absent-migrations: any of: models.py and \.py$
  check-unapplied-migrations: any of: \.py$
